.common
    max-width $column-width
    margin 0 auto
    padding 1rem
    .meta 
        .legend__text
            font-family $national-narrow
            set-type-size('root')
            margin 0

        .figure-legend
            display flex 
            flex-direction row 
            align-items center

        .legend__block 
            width 70px 
            height 20px
            background $gray-dark
            margin-right 0.5rem
            p
                set-type-size('small')
                margin 0
                text-align center
                word-wrap normal
                font-family $martel
                color $gray-light 
    .figure__inner
        display flex
        flex-direction row
        .group
            display flex
            flex-direction column-reverse
            .word 
                width 75px
                overflow hidden
                margin 0.1rem 0.25rem
                background $gray-dark
                padding 0 0.1rem

            .word__text
                //text-transform uppercase
                set-type-size('small')
                margin 0
                text-align center
                word-wrap normal
                font-family $martel
                color $gray-light
        .group--irreverent 
            .word 
                background $primary
                &__text 
                    color $white