.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center
		
	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center


	.scroll-note
		background-color $primary
		font-family $national
		set-type-size('medium')
		text-align center 
		max-width 375px
		margin 4rem auto 1rem auto
		display flex 
		align-items center

		.scroll-text 
			padding 0rem 1rem
			color $fg
			text-transform uppercase
			font-weight bold
			align-self center
			

	.entCenter 
		max-width 60rem
		margin 3rem auto 4rem auto

.intro__meta 
	display flex 
	flex-direction column
	align-items baseline
	margin 0 auto 2rem auto
	max-width 55rem
	padding 0 1rem
	+mq('bp-3')
		flex-direction row

	p, time 
		font-weight 500
		margin 0
		text-align right
		font-family $national
		set-type-size('root')
		margin-right 0.5rem

		a
			border-bottom none

	time 
		color $gray



.ads 
	max-width 74rem 
	margin 2rem auto 
	overflow hidden

	.pudding-chart
		border 5px solid #484848

	.figure__container 
		display flex
		flex-direction column
		margin 0 auto
		justify-content center
		align-items center
		+mq('bp-3')
			flex-direction row
			align-items flex-start
		.controls 
			display flex 
			flex-direction row
			align-items flex-end
			align-self center
			margin-right 1rem
			+mq('bp-3')
				flex-direction column
			button 
				padding 0.5rem 0.5rem
				margin 0.5rem 0.25rem
				width 64px
				height 64px
				border-radius 50%
				background $fg
				display flex 
				flex-direction row
				justify-content center
				align-items center
				svg		
					color $bg


		
		svg  
			.title 
				font-family $national
				set-type-size('xx-large')
				font-weight bold
				fill $white
				+mq('bp-3')
					set-type-size('xxxxx-large')


			.word-container, .tag-container
				opacity 0
				font-family $national-narrow 
				set-type-size('large')
				+mq('bp-3')
					set-type-size('xx-large')
				&.is-visible 
					opacity 1
				.word-bg
					fill $gray-dark
					padding 0 0.1rem
			.list-title 
				set-type-size('medium')
				font-family $national-narrow
				font-weight bold
				text-transform uppercase
				fill $gray-light
				
			.tag
				set-type-size('large')
				margin 0
				text-align center
				word-wrap normal
				font-family $national
				fill $white
				+mq('bp-3')
					set-type-size('xx-large')
	

			.show__tag
				text-shadow 2px 2px 5px $bg

			.word
				set-type-size('small')
				margin 0
				text-align center
				word-wrap normal
				font-family $national
				fill $gray-light
				&.highlight
					fill lighten($primary, 10)
					font-weight bold

		.pudding-list 
			margin-left 1rem


