.quiz
    max-width $column-width 
    margin 5rem auto 0 auto 

    fieldset 
        min-width 0px
        padding 0 1rem
       legend
            font-family $national-narrow
            set-type-size('x-large')
            font-weight bold
        label 
            font-family $national-narrow
            set-type-set('medium')
    
    button 
        font-family $anton
        set-type-size('large')
        padding 0.25rem 0.75rem
        margin 0.5rem auto
        text-align center
        display block