/* CUSTOM STORY STYLE */


.ex 
    font-family $anton
    background $primary
    padding 0 0.3rem

.spoiler 
    font-family $anton
    background $primary
    padding 0 0.3rem
    set-type-size('small')
    margin 0 auto
    text-align center

.ir   
    font-family $anton
    background $primary
    padding 0 0.3rem

.meta 
    margin-bottom 2rem

.figure-title
    font-family $national-narrow
    set-type-size('x-large')
    font-weight bold
    margin-top 0

.figure-sub
    font-family $national-narrow
    set-type-size('root')
    margin 0











.highlight
    margin 2rem 0  
    padding 3rem 0  
    background $primary
    width 100%
    &__inner
        max-width $column-width 
        padding 0 1rem 
        margin 0 auto
        .prose__highlight
            font-family $anton
            set-type-size('xxx-large')
            text-align center 
            line-height 1.2

.definition
    max-width $column-width 
    margin 0 auto 
    padding 1rem 
    font-family $national-narrow
    background $primary
    span 
        font-weight bold
