.together
    &__figure
        max-width $column-width 
        margin 0 auto
        padding 0 1rem

        .meta 
            margin-top 1rem
            .legend__text
                set-type-size('root')
                font-family $national-narrow
            .chosen, .count
                font-family $national
                font-weight bold 
                text-transform uppercase

            
            select 
                font-family $national
                set-type-size('medium')
                font-weight bold 


    .figure__inner 
        display flex 
        flex-wrap wrap 
        flex-direction row
        .word 
            font-family $national-narrow
            set-type-size('medium')
            margin 0.1rem 0.5rem

    &-table 
        font-family $martel
        max-width $column-width
        th
            set-type-size('medium')
            font-weight bold
            border-bottom 1px solid $white
        tr
            border-bottom 1px solid lighten($bg, 8)
        td 
            set-type-size('small')
            padding 0.25rem 0
            span
                display inline-block
                width 75px
                margin-right 0.5rem
                &.sel
                    font-weight bold
            &.Title
                padding-right 2rem
                font-style italic
                min-width 200px
