.together
    &__figure
        max-width $column-width 
        margin 5rem auto 0 auto
        padding 0 1rem

        .meta 
            margin-top 1rem
            .legend__text
                set-type-size('root')
                font-family $national-narrow
            .chosen, .count
                font-family $anton
                background $primary 
                padding 0 0.4rem
            
            select 
                font-family $anton
                set-type-size('root')

    .figure__inner 
        display flex 
        flex-wrap wrap 
        flex-direction row
        .word 
            font-family $national-narrow
            set-type-size('medium')
            margin 0.1rem 0.5rem

    &-table 
        font-family $national
        th
            set-type-size('medium')
            font-weight bold
            border-bottom 1px solid $white
        td 
            set-type-size('root')
            padding 0.25rem 0
            span
                opacity 0.25
            &.Title
                padding-right 2rem
                font-style italic
