<figure class='ads'>


    <div class='figure__container'>
        <div class='controls'>
            <button class='pause' data-state='playing'>
                <img inline src='pause.svg'></button>
            <button class='x2'>
                <img inline src='fast-forward.svg'></button>

            <button class='replay'>
                <img inline src='rotate-cw.svg'></button>
        </div>
        <div class='figure__inner figure__inner-graph'></div>
        <div class='figure__inner figure__inner-list'></div>

    </div>

</figure>