<figure class='ads'>
    <div class='controls'>
        <button class='x2'>
            <img inline src='fast-forward.svg'></button>
        <button class='pause'>
            <img inline src='pause.svg'></button>
        <button class='replay'>
            <img inline src='repeat.svg'></button>
    </div>
    <div class='figure__inner'></div>

</figure>