<div class='figure-container'>

    <figure class='common'>
        <div class='common__meta meta'>
            <h3 class='figure-title'>{{{doc.commonTitle}}}</h3>
            <p class='figure-sub'>{{{doc.commonSub}}}</p>
            <div class='figure-legend'>
                <div class='legend__block'>
                    <p>word</p>
                </div>
                <p class='legend__text'>{{{doc.commonLegend}}}</p>
            </div>
        </div>
        <div class='figure__inner'>
        </div>
    </figure>
</div>