<section class='conclusion'>
    <p class='prose'>{{{doc.preConclusion}}}</p>
    <p class='definition'>{{{doc.def}}}</p>
    {{#each doc.conclusion}}
    <p class='prose'>{{{value}}}</p>
    {{/each}}
</section>