<section class='together'>
    {{#each doc.prePairs}}
    <p class='prose'>{{{value}}}</p>
    {{/each}}

    <div class='figure-container'>

        <div class='together__figure'>
            <div class='together__meta meta'>
                <h3 class='figure-title'>{{{doc.togetherTitle}}}</h3>
                <p class='figure-sub'>{{{doc.togetherSub}}}</p>
            </div>
            <table class='together-table'>
            </table>
        </div>
    </div>
</section>